._textListContent{
	position:relative;
	width:380px;
	height:432px;
	overflow:hidden;
}

._textListBox{
	width:350px;
	position:absolute;
	top:-54px;
	left:0px;
}

._textListSplitBox{
	background: url(../images/scroll_pole.png); 
	width:2px;
	height:432px;
	position:absolute;
	right:15px;
	top:0px;
	display:none;
}
._textListSplitBar{
	position:absolute;
	left:-21px;
	top:0px;
	display:block;
	background: url(../images/scroll_light.png) no-repeat; 
	width:47px;
	height:56px;
}
._textListItem0{
	height:54px;
}
._textListItem{
	height:53px;
	width:350px;
	overflow:hidden;
	color:#fff;
	line-height:53px;
	font-size:20px;
	position:relative;
	background: url(../images/i-bg1.png) top no-repeat;
}
._textListCurItem{
	height:53px;
	width:350px;
	overflow:hidden;
	color:#fff;
	background: url(../images/i-bg1.png) bottom no-repeat;
	line-height:53px;
	font-size:20px;
	position:relative;
}

._textListNum{
	float:left;
	width:30px;
	padding:0px 10px;
	text-align:center;
}

._textListName{
	float:left;
	width:280px;
	padding:0px 5px;
}

._textListBox a{color:#fff;}

