._iconListContent{
	position:relative;
	width:646px;
	height:480px;
	overflow:hidden;
}

._icontListBox{
	width:620px;
	height:750px;
	position:absolute;
	top:-120px;
	left:0px;
}
._iconListTr{
	height:120px;
	width:620px;
}

._iconListCurTd{
	height:116px;
	width:116px;
	margin:2px 4px;
	float:left;
	position:relative;
	background: url(../images/tv_shadow02.png) no-repeat; 
	border-radius: 15px;
}
._iconListTd{
	height:116px;
	width:116px;
	margin:2px 4px;
	float:left;
	position:relative;
	background: url(../images/tv_shadow02.png) no-repeat; 
	border-radius: 15px;
}
._iconListTd0{
	height:116px;
	width:116px;
	margin:2px 4px;
	float:left;
	position:relative;
}


._iconListSplitBox{
	background: url(../images/scroll_pole.png); 
	width:3px;
	height:480px;
	position:absolute;
	right:15px;
	top:15px;
	display:none;
}
._iconListSplitBar{
	position:absolute;
	left:-21px;
	top:0px;
	display:block;
	background: url(../images/scroll_light.png) no-repeat; 
	width:47px;
	height:56px;
}

.icon{
	width:90px;
	height:90px;
	margin:15px ;
	overflow:hidden;
	border-radius: 5px;
}
.icon img{
	width:90px;
	height:90px;
	
}

.icon a:focus{background: url(../images/tv_highlight01.png) no-repeat; } 
.icon a{
	font-size:30px;
	position:absolute;
	top:0px;
	left:0px;
	width:120px;
	height:120px;
	text-align:center;
	display:block;
	TEXT-DECORATION:none;
	background: url(../images/tv_shadow01.png) no-repeat; 
}
